
//Import Variables

@use "./variables/variables.scss" as * ;


*{
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif;
}

.quizzContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

//stepper component

.stepperComponent{
    display: flex;
    justify-content: space-between;
    width: 40%;
    position: fixed;
    top: 5%;
    
    div{
        background-color: $dark;
        color: $text;
        padding: 10px;
        width: 15px;
        border-radius: 50%;
        text-align: center;
        position: relative;

        &::after{
            content: "";
            width: 13.75rem;
            height: 5px;
            background-color: $dark;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
        }

        &.step1::after{
            width: 0;
            height: 0;
        }

        &.active{
            background-color: $buttons;
            transition: .6s;

            // span{
            //     background-color: $buttons;
            //     transition: .6s;

            // }

            &::after{
                background-color: $buttons;
                transition: .6s;

            }
        }

        span{
            background-color: $dark;
        }
        
        i{
            background-color: $buttons;
        }
    }


}

//progress Bar
.progressBar{
    // display: none;
    width: 40%;
    height: 3em;
    background-color: $content;
    border-radius: 10px;
    color: $text;
    position: fixed;
    top: 80%;

    .progressBarLevel{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: $buttons;
        height: 100%;
        width: 10%;
        border: 10px;
    }
}



.titlesStepper{
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: $text;
    position: fixed;
    top: 15%;
}

//rules
.quizzContainer{
    .rules{
        display: block;
        color: $text;
        border: 2px solid $content;
        background-color: $content;
        padding: 5px 10px;
        border-radius: 10px; 
        width: 40%;
        box-shadow: 2px 3px 15px #0003;
        animation-name: display;
        animation-duration: 0.6s;

        @keyframes display {
            from {
                transform: scale(0);
            }

            to{
                transform: scale(1);
            }
        }
        
    }

    .titles{
        background-color: $content;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        font-weight: bold;
    }

    button{
        background-color: $buttons;
        padding: 10px 20px;
        margin: 20px 0;
        border: none;
        color: $text;
        border-radius: 5px;

    }

    button:hover{
        background-color: $buttonsFocus;
        cursor: pointer;
    }

    .next_button{
        background-color: $content;
        display: flex;
        justify-content: end;
    }

    p{
        background-color: $content;
    }
}

//counter start quizz
#counter{
    display: none;
    border: 2px solid $content;
    background-color: $content;
    padding: 5px 10px;
    border-radius: 10px; 
    width: 40%;
    box-shadow: 2px 3px 15px #0003;
    

    span{
        background-color: $content ;
        display: block;
        width: 100%;
        margin: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        font-size: 150px;
        color: $text
    }
}

// questions
.quizzContainer{
    .questions{
        @extend .rules ;
        display: none;
        margin-top: 20px;
     

        .answers{
            background-color: $content;
            margin: 10px 10px;
        }

        label{
            background-color: $content;
        }

        .questionsAnswers{
            background-color: $content;
            display: flex;
            justify-content: center;
        }

        #currentQuestion{
            background-color: $content;
        }

        #maxQuestions{
            background-color: $content;
        }

        .question{
            background-color: $content;
            padding: 10px 20px;
        }

        .next_button_question{
            background-color: $dark !important;
            margin-right: 5px
        }

    }

    
}

//loading questions

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
    border: 2px solid $content;
    background-color: $content;
    padding: 5px 10px;
    border-radius: 10px; 
    width: 40%;
    height: 50%;
    box-shadow: 2px 3px 15px #0003;
}

.loading_questions {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: $content;
  }
  .loading_questions:after {
    content: " ";
    display: block;
    // background-color: $content;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $buttons;
    border-color: $buttons transparent $buttons transparent;
    animation: loading_questions 1.2s linear infinite;
  }
  @keyframes loading_questions {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
//result
.quizzContainer{
    .result{
        @extend .rules ;
        display: none;

        .score{
            background-color: $content;
            display: flex;
            justify-content: center;
            padding: 10px 20px
        }

        .progressBarComponent{
            @extend .score ;
        }
    }
}